<div class="overhead-menu">
  <div class="turn-board">
    White starts.
  </div>

  <div class="undo-button">
    <span class="undo-text"> UNDO </span>
  </div>
</div>

<%= render "board" %>

<div class="mode-picker">
  <div class="play-ai-button mode-button">
    <span class="mode-text"> PLAY AI </span>
  </div>

  <div class="play-2p-button mode-button">
    <span class="mode-text"> PLAY 2P </span>
  </div>
</div>
