<div class="overhead-menu">
  <div class="turn-board">
  </div>

  <div class="undo-button">
    <span class="undo-text">
    </span>
  </div>
</div>

<div class="mode-picker">
  <div class="play-ai-button mode-button">
    <span class="mode-text"> PLAY AI </span>
  </div>

  <div class="play-2p-button mode-button">
    <span class="mode-text"> PLAY 2P (coming soon) </span>
  </div>
</div>

<div class="side-picker">
  <div class="rule-tip-box">
    <span class="rule-tip-text">
      rule: if you can eat, you must eat.
    </span>
  </div>

  <div class="black-side-button side-button">
    <span class="side-text"> PLAY BLACK </span>
  </div>

  <div class="white-side-button side-button">
    <span class="side-text"> PLAY WHITE </span>
  </div>
</div>
